{% extends "base.html" %}
{% block title %}About Techypedia{% endblock %}

{% block content %}
<div class="container mx-auto p-8 text-center">
    <h1 class="text-4xl font-bold mb-8 text-purple-600">Welcome to Techypedia</h1>

    <p class="text-gray-700 text-lg mb-8">
        Your premier destination for high-quality computer spare parts and accessories.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <div>
            <img src="/static/images/Our-Team.jpg" alt="Techypedia Team" class="rounded-lg shadow-md mb-8">

            <p class="text-gray-700">
                At Techypedia, we are passionate about providing top-notch products to enhance and upgrade your computing experience.
            </p>
        </div>

        <div class="text-left">
            <h2 class="text-2xl font-bold text-purple-600 mb-4">Our Mission</h2>

            <p class="text-gray-700 mb-4">
                We strive to be a reliable source for computer enthusiasts, professionals, and DIYers by offering a wide range of
                genuine spare parts and accessories at competitive prices. Our mission is to empower you to build, upgrade, and
                maintain your computer systems with ease.
            </p>

            <h2 class="text-2xl font-bold text-purple-600 mb-4">What Sets Us Apart</h2>

            <ul class="list-disc pl-4 text-gray-700 mb-4">
                <li>Extensive Product Selection: Explore a diverse range of computer spare parts and accessories.</li>
                <li>Quality Assurance: We ensure that all our products meet high-quality standards.</li>
                <li>Customer Satisfaction: Your satisfaction is our priority. Our dedicated support team is here to assist you.</li>
            </ul>

            <p class="text-gray-700">
                Techypedia is more than just an ecommerce platform; it's a community of tech enthusiasts dedicated to advancing the world of computing.
                Whether you're a gamer, a professional, or a DIY enthusiast, we have the products you need to take your computing experience to the next level.
            </p>
        </div>
    </div>

    <p class="text-gray-700 mt-8">
        Thank you for choosing Techypedia. We look forward to serving you and being a part of your tech journey.
    </p>
</div>
{% endblock %}