{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="flex items-center justify-center m-10">
    <form method="post" class="bg-white p-8 rounded-md shadow-lg w-96 bg-gradient-to-r from-purple-100 to-blue-100">

        <h2 class="text-2xl font-bold text-gray-600 mb-4">Admin Login</h2>

        <div class="space-y-6">

            <div>
                <label for="admin_id" class="block text-sm font-medium text-gray-600">Username</label>
                <input id="text" name="admin_id" type="text"
                    class="w-full p-2 rounded-md border-0 py-2 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm">
            </div>

            <div>
                <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
                <input type="password" name="password" id="password"
                    class="w-full p-2 rounded-md border-0 py-2 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm">
            </div>

        </div>

        <!-- Submit Button -->
        <div class="mt-6">
            <button type="submit"
                class="w-full bg-purple-600 text-gray-50 hover:bg-purple-700 focus:outline-none focus:ring focus:border-purple-700 p-2 px-4 sm:px-5 rounded-md">
                Login
            </button>
        </div>

    </form>
</div>
{% endblock %}