<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="static/images/web-icon.png" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>{% block title %}Home{% endblock %}</title>
  </head>

  <body class="bg-gray-100">
    <div class="h-screen container mx-auto p-5">
      <!-- Main Navigation -->
      <div
        class="md:flex md:flex-row md:justify-between text-center text-sm sm:text-base"
      >
        <div class="flex flex-row justify-center">
          <div>
            <img
              src="/static/images/logo.png"
              alt="Techypedia Team"
              height="50px"
              width="50px"
            />
          </div>
          <a href="/"
            ><h1 class="text-4xl text-gray-600 ml-2 p-1">TECKYPEDIA</h1></a
          >
        </div>
        <div class="mt-2">
          <a
            class="font-medium text-gray-600 hover:text-purple-600 p-4 px-3 sm:px-4"
            href="/"
            id="home"
            >Home</a
          >
          <a
            class="font-medium text-gray-600 hover:text-purple-600 p-4 px-3 sm:px-4"
            href="/about"
            id="about"
            >About</a
          >
          {% if user.is_authenticated %}
          <a
            class="font-medium text-gray-600 hover:text-purple-600 p-4 px-3 sm:px-4"
            href="/logout"
            id="logout"
            >Logout</a
          >
          <a
            href="/cart"
            class="bg-purple-600 text-gray-50 hover:bg-purple-700 p-3 px-3 sm:px-5 rounded-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 sm:h-6 sm:w-6 inline-block"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
              />
            </svg>
            Cart (2)
          </a>
          {% else %}
          <a
            class="font-medium text-gray-600 hover:text-purple-600 p-4 px-3 sm:px-4"
            href="/login"
            id="login"
            >Login</a
          >
          <a
            class="font-medium text-gray-600 hover:text-purple-600 p-4 px-3 sm:px-4"
            href="/sign-up"
            id="sign-up"
            >Sign Up</a
          >
          {% endif %}
        </div>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="bg-gray-100 text-center py-2 lg:px-2">
        <div
          class="p-2 bg-red-500 text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex relative transition-opacity duration-300"
        >
          <span
            class="flex rounded-full bg-yellow-500 uppercase px-2 py-1 text-xs font-medium mr-2"
            >New</span
          >
          <span class="font-semibold mr-4 text-left flex-auto"
            >{{ message }}</span
          >
          <button
            onclick="this.parentElement.style.opacity='0'; setTimeout(() => this.parentElement.style.display='none', 300)"
            class="opacity-75 hover:opacity-100 transition-opacity duration-300"
          >
            <svg
              class="fill-current h-6 w-6 text-gray-800"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M6.707 6.707l-.707-.707L10 8.293l3.707-3.707-.707-.707L10 6.879 6.707 3.586l-.707.707L9.293 8l-3.293 3.293.707.707L10 9.121l3.293 3.293.707-.707L10.707 8l3.293-3.293z"
              />
            </svg>
          </button>
        </div>
      </div>
      {% else %}
      <div class="bg-gray-100 text-center py-2 lg:px-2">
        <div
          class="p-2 bg-teal-500 text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex relative transition-opacity duration-300"
        >
          <span
            class="flex rounded-full bg-yellow-500 uppercase px-2 py-1 text-xs font-medium mr-2"
            >New</span
          >
          <span class="font-semibold mr-4 text-left flex-auto"
            >{{ message }}</span
          >
          <button
            onclick="this.parentElement.style.opacity='0'; setTimeout(() => this.parentElement.style.display='none', 300)"
            class="opacity-75 hover:opacity-100 transition-opacity duration-300"
          >
            <svg
              class="fill-current h-6 w-6 text-gray-800"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M6.707 6.707l-.707-.707L10 8.293l3.707-3.707-.707-.707L10 6.879 6.707 3.586l-.707.707L9.293 8l-3.293 3.293.707.707L10 9.121l3.293 3.293.707-.707L10.707 8l3.293-3.293z"
              />
            </svg>
          </button>
        </div>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %} {% block content %} {%
      endblock %}
    </div>
    <script type="text/javascript">
      (function (d, m) {
        var kommunicateSettings = {
          appId: "3736dcbb70465d9b2134f542f65814267",
          popupWidget: true,
          automaticChatOpenOnNavigation: true,
        };
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0];
        h.appendChild(s);
        window.kommunicate = m;
        m._globals = kommunicateSettings;
      })(document, window.kommunicate || {});
      /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    </script>
  </body>
</html>
