{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="flex items-center justify-center m-10">
    <form method="post" class="bg-gray-100 p-8 rounded-md shadow-lg w-96 bg-gradient-to-r from-purple-100 to-blue-100">

        <h2 class="text-2xl font-bold text-gray-600 mb-4">Sign Up</h2>

        <div class="space-y-6">

            <div>
                <label for="email" class="block text-sm font-medium text-gray-600">Email address</label>
                <input id="email" name="email" type="email" autocomplete="email"
                    class="w-full p-2 rounded-md border-0 py-2 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm">
            </div>

            <div>
                <label for="first-name" class="block text-sm font-medium text-gray-600">First name</label>
                <input type="text" name="first-name" id="first-name" autocomplete="given-name"
                    class="w-full p-2 rounded-md border-0 py-2 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm">
            </div>

            <div>
                <label for="password1" class="block text-sm font-medium text-gray-600">Password</label>
                <input type="password" name="password1" id="password1"
                    class="w-full p-2 rounded-md border-0 py-2 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm">
            </div>

            <div>
                <label for="password2" class="block text-sm font-medium text-gray-600">Confirm Password</label>
                <input type="password" name="password2" id="password2"
                    class="w-full p-2 rounded-md border-0 py-2 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm">
            </div>

        </div>

        <!-- Submit Button -->
        <div class="mt-6">
            <button type="submit"
                class="w-full bg-purple-600 text-gray-50 hover:bg-purple-700 focus:outline-none focus:ring focus:border-purple-700 p-2 px-4 sm:px-5 rounded-md">
                Submit
            </button>
        </div>

    </form>
</div>
{% endblock %}